<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.modifiers">

    <application>
        <activity
            android:name=".ConstraintLayoutActivity"
            android:exported="false" />
        <activity
            android:name=".ModifiersActivity"
            android:exported="false" />
    </application>

</manifest>